body{
	font-family: 'Open Sans', sans-serif;
	min-width: 320px;
	color: #000;
}
img{
	max-width: 100%
	height: auto;
}
section{
	padding: 100px 0;
}
h3{
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: 700;
}
h2{
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 600;
}
h1{
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
}
p{
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 30px;
}
.btn{
	text-transform: uppercase;
	font-weight: 600;
}

/* ============================== HEAD ============================== */

.main-header{
	background: url(../img/header.png) center no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 700px;
	position: relative;
	color: #fff;
}
.main-header .navbar-toggler{
	color: #fff;
	border-color: rgba(255,255,255,.3);
	border-radius: 80px 80px 80px 80px;
	padding: 8px 20px;
}
.main-header .active a{
	color: #02AEEE;
}
.main-header ul li a{
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 40px;
	position: relative;
	display: inline-block;
}
.main-header ul li a:after{
	display: block;
	content: '';
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	height: 1px;
	width: 0%;
	background-color: #fff;
	transition: width .4s;
}
.main-header ul li a:hover:after{
	width: 100%;
}
.main-header img{
	height: 47px;
	width: auto;	
}
.main-header h4{
	font-size: 42px;
	margin-top: 150px;
	text-transform: uppercase;
	font-weight: 700;
}
.main-header p{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	padding: 0 10px;
}
.main-header .col-item{
	padding: 0 30px;
}
.main-header-text .col-md-2{
	padding: 0 0;
}
.main-header .paragraph-item{
	background: url(../img/header1.png) center no-repeat;
	font-size: 30px;
	font-weight: 700;
	margin-top: 20px;
	min-height: 110px;
	min-width: 90px;
	padding: 35px 0;
}
.main-header .btn{
	background-color: #00aeef;
	box-shadow: 0px 5px 25px -10px rgba(0,0,0,.5);
	font-size: 13px;
	width: 135px;
	height: 50px;
	margin-top: 50px;
	border: none;
	transition: all .15s;
}
.main-header .btn:hover{
	box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	background: linear-gradient(-45deg, #42ACDC, #A547C3);
}


/* ============================== .section-experenced ============================== */

.section-experenced h2{
	text-transform: uppercase;
}
.section-experenced p{
	font-size: 15px;
	line-height: 1.8;
}
.section-experenced .col-9 p{
	text-align: center;
}
.section-experenced h1{
	padding: 5px 0;
	margin-bottom: 0px;
}
.section-experenced .column1{
	max-width: 190px;
}
.section-experenced .column2{
	max-width: 210px;
}



/* ============================== Media query ============================== */

/* Large Devices, Wide screens */
@media only screen and (max-width: 1360px) {
}

/* Medium Devices, Desctops */
@media only screen and (max-width: 991px) {
	.main-header-text h4 {
		font-size: 34px;
		margin-top: 100px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.main-header-text h4 {
		font-size: 28px;
	}
}
@media only screen and (max-width: 724px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 575px) {
	.section{
		padding: 50px 0px;
	}
	.main-header{
		min-height: 850px;
	}
	.section-experenced .justify-content-center h1,
	.section-experenced .justify-content-center p {
		text-align: center;
	}
.section-experenced .justify-content-center img {
	margin-bottom: 10px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 491px) {
}
@media only screen and (max-width: 461px) {
}

@media only screen and (max-width: 442px) {
}

@media only screen and (max-width: 428px) {
}

@media only screen and (max-width: 380px) {
}

@media only screen and (max-width: 337px) {
	
}