/* 
light      - 300
regular    - 400
semi-bold  - 600
bold       - 700
extra-bold - 800
*/

body{
	font-family: 'Open Sans', sans-serif;
	min-width: 320px;
	color: #000;
}
img{
	max-width: 100%
	height: auto;
}
section{
	padding: 100px 0;
}
h3{
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: 700;
}
h2{
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 600;
	text-transform: uppercase;
}
h1{
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
}
p{
	font-size: 14px;
	font-weight: 400;
}
.btn{
	text-transform: uppercase;
	font-weight: 600;
}
.head-paragraph{
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* ============================== HEAD ============================== */

.main-header{
	background: url(../img/header.png) center no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 700px;
	position: relative;
	color: #fff;
}
.main-header .navbar-toggler{
	color: #fff;
	border-color: rgba(255,255,255,.3);
	border-radius: 80px 80px 80px 80px;
	padding: 8px 20px;
}
.main-header .active a{
	color: #02AEEE;
}
.main-header ul li a{
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 40px;
	position: relative;
	display: inline-block;
}
.main-header ul li a:after{
	display: block;
	content: '';
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	height: 1px;
	width: 0%;
	background-color: #fff;
	transition: width .4s;
}
.main-header ul li a:hover:after{
	width: 100%;
}
.main-header img{
	height: 47px;
	width: auto;	
}
.main-header h4{
	font-size: 42px;
	margin-top: 150px;
	text-transform: uppercase;
	font-weight: 700;
}
.main-header p{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	padding: 0 10px;
}
.main-header .col-item{
	padding: 0 30px;
}
.main-header-text .col-md-2{
	padding: 0 0;
}
.main-header .paragraph-item{
	background: url(../img/header1.png) center no-repeat;
	font-size: 30px;
	font-weight: 700;
	margin-top: 20px;
	min-height: 110px;
	min-width: 90px;
	padding: 35px 0;
}
.main-header i{
	font-weight: 400;
	font-family: FontAwesome;
}
.main-header .btn{
	background-color: #00aeef;
	box-shadow: 0px 5px 25px -10px rgba(0,0,0,.5);
	font-size: 13px;
	font-weight: 600;
	width: 135px;
	height: 50px;
	margin-top: 50px;
	border: none;
	transition: all .15s;
}
.main-header .btn:hover{
	box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	background: linear-gradient(-45deg, #42ACDC, #A547C3);
}


/* ============================== .section-experenced ============================== */

.section-experenced h2{
	text-transform: uppercase;
}
.section-experenced p{
	font-size: 15px;
	line-height: 1.8;
	margin-bottom: 30px;
}
.section-experenced .col-9 p{
	text-align: center;
}
.section-experenced h1{
	padding: 5px 0;
	margin-bottom: 0px;
}
.section-experenced .column1{
	max-width: 190px;
}
.section-experenced .column2{
	max-width: 210px;
}


/* ============================== section-search ============================== */

.section-search{
	background: url(../img/section-search.back.png) center no-repeat;
	background-size: cover;
	color: #fff;
}
.section-search h3{
	text-transform: uppercase;
}
.section-search p{
	font-size: 16px;
	margin-bottom: 50px;
}
.section-search form {
	width: 570px;
	position: relative;
}
.section-search .form-control {
	width: 100%;
	height: 54px;
	border-radius: 30px;
	padding: 8px 27% 8px 60px; 
	border: 1px solid #00aeef;
}
.section-search .form-control::placeholder {
  font-size: 15px;
}
.section-search .form-control:focus {
  box-shadow: 0 0 0 4px rgba(165, 71, 195, .3);
}
.section-search i {
	position: absolute;
	font-size: 16px;
	color: #909090;
	left: 30px;
	top: 20px;
}
.section-search .form-inline button {
	position: absolute;
	font-size: 15px;
	font-weight: 600;
	border: none;
	border-radius: 20px;
	top: 7px;
	right: 15px;
	height: 40px;
	width: 130px;
	background: linear-gradient(to top right,rgb(49, 170, 226) 35.4%,rgb(157, 53, 192) 76.2%);
}
.section-search .form-inline button:focus{
	box-shadow: 0 0 0 3px rgba(165, 71, 195, .5);
}
.section-search .form-check{
	margin: 34px 25px 0 25px;
}
.section-search .form-check-inline .form-check-input{ /* hiding initial checkbox  */
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.section-search .form-check-inline .form-check-input + label {
  position: relative;
  cursor: pointer;
  padding-left: 20px;
}
.section-search .form-check-inline .form-check-input + label:before {
  content: '';
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 0px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #00aeef;
  background: #173244;
  transition: .5s;
}
.section-search .form-check-inline .form-check-input + label:after {
  content: '\f00c';
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  cursor: pointer;
  display: none;
  top: 5px;
  left: 3px;
  border-radius: 10px;
  transition: .2s;
}
.section-search .form-check-inline .form-check-input:checked + label:after {
  display: block;
}
.section-search .container .row .fix{
	max-width: 160px;
}


/* ============================== section-plan ============================== */

.section-plan h3{
	font-weight: 600;
}
.section-plan .step{
	max-width: 300px;
	position: relative;
	margin-top: 170px;
}
.section-plan .ellips{
	position: absolute;
	height: 70px;
	width: 70px;
	top: -110px;
	left: 115px;
	border: 1px dotted #7dd6f7;
	border-radius: 40px;
	background: #fff;
}
.section-plan .ellips p{
	margin: 0;
	transform: translate(0, 40%);
	color: #00aeef;
	font-family: Roboto Slab;
	font-size: 24px;
}
.section-plan .ellips:hover{
	background-image: linear-gradient(to top right,rgb(69, 148, 220) 36%,rgb(140, 71, 197) 71.9%);
}
.section-plan .ellips:hover p{
	color: #fff;
}


/* ============================== .section-advantages ============================== */

.section-advantages{
	background: #f9f9f9;
}
.section-advantages i{
	font-size: 60px;
	font-family: FontAwesome;
	font-weight: 400;
	margin-top: 22px;
	margin-bottom: 30px;
	background: -webkit-linear-gradient(top right, #9241c3, #33a8e2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} 
.section-advantages h1{
	font-weight: 600;
}
.section-advantages .item{
	margin-top: 80px;
	position: relative;
	border-left: 1px dotted #7dd6f7;
}
.section-advantages .item:first-child{
	border-left: none;
}


/* ============================== section-packages ============================== */

.section-packages{
	padding-bottom: 170px;
}
.section-packages .image-devices{
	padding-left: 50px; 
	display: flex;
	align-items: center;
}
.section-packages .cloud i{
	font-size: 100px;
	background: -webkit-linear-gradient(top right, #9241c3, #33a8e2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
}
.section-packages .cloud p{
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	position: absolute;
	bottom: 0px;
	left: 40px;
}
.section-packages .btn{
	font-size: 15px;
	font-weight: 400;
	margin-top: 29px;
	height: 45px;
	width: 148px;
	background: none;
	border: 1px solid #00aeef;
	color: #00aeef;
}
.section-packages .btn:hover{
	box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	background: linear-gradient(-45deg, #42ACDC, #A547C3);
	color: #fff;
	border: none;
	transition: 
}
.section-packages .carousel-control-prev,
.section-packages .carousel-control-next{
	max-width: 100px;
}
.section-packages .carousel-control-prev i,
.section-packages .carousel-control-next i{
	font-size: 20px;
	color: #00aeef;
}
.section-packages .carousel-indicators{
	right: 65%;
	bottom: -35%;
}
.section-packages .carousel-indicators li {
	width: 14px;
	height: 14px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #fff;
	border: 2px solid #00aeef;
	opacity: 1;
}
.section-packages .carousel-indicators li:hover{
	background: rgb(0, 174, 239, .5);;
}
.section-packages .carousel-indicators .active{
	background: #00aeef;
	pointer-events: none;
}
.section-packages ul{
	list-style: none;
	padding-left: 50px;
}
.section-packages li{
	margin-top: 14px;
	margin-bottom: 14px;
}
.section-packages li:before{
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 15px;
	color: #d9d9d9;
	margin-right: 10px; 
}
.section-packages .change-padding{
	padding: 0px;
}
.section-packages .two-column{
	padding-left: 10px;
}
 

/* ============================== .section-web-builder ============================== */

/* .section-web-builder .container{
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	width: 100%;
} */
.section-web-builder .right-part{
	background-image: linear-gradient(to top right,rgb(69, 148, 220) 36%,rgb(140, 71, 197) 71.9%);
	color: #fff;
	padding: 80px 130px;
}
.section-web-builder .left-part{
	background: url(../img/section-web-building.png) center no-repeat; 
	background-size: cover;
}
.section-web-builder h3{
	text-transform: uppercase;
}


/* ============================== Media query ============================== */

/* Large Devices, Wide screens */
@media only screen and (max-width: 1199px) {
	.section-web-builder .right-part{
		padding: 40px 70px;
	}
	.section-packages .carousel-indicators{
		right: 55%;
	}
}


/* Medium Devices, Desctops */
@media only screen and (max-width: 991px) {
	.section-web-builder .right-part{
		padding: 30px 60px;
	}
	.section-packages .carousel-indicators{
		right: 50%;
	}
	.section-packages .cloud p{
		font-size: 35px;
		bottom: -3px;
		left: 38px;
	}
	.section-packages .cloud i{
		font-size: 90px;
	}
	.section-packages ul{
		list-style: none;
		padding-left: 60px;
	}
	.section-packages .main-part{
		padding: 0;
	}
	.main-header-text h4 {
		font-size: 34px;
		margin-top: 100px;
	}
	.section-plan .ellips{
		left: 80px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
	.section-packages .carousel-indicators{
		right: 45%;
	}
	.section-packages .image-devices{
		display: none;
	}
	.main-header-text h4 {
		font-size: 28px;
	}
	.section-search .form-control {
		padding-right: 32%; 
	}
	.section-plan .ellips{
		left: 50px;
	}
	.section-advantages .item3{
		border-left: none;
	}
}
@media only screen and (max-width: 724px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 575px) {
	.section-packages{
		padding: 50px 0 100px 0;
	}
	.section-packages .carousel-indicators{
		right: 45%;
		bottom: -25%;
	}
	.section-packages .main-part{
		padding: 0 60px;
	}
	.section-packages ul{
		padding-left: 0px;
	}
	.section{
		padding: 50px 0px;
	}
	.main-header{
		min-height: 850px;
	}
	.section-experenced .justify-content-center h1,
	.section-experenced .justify-content-center p {
		text-align: center;
	}
	.section-experenced .justify-content-center img {
		margin-bottom: 10px;
	}
	.section-search .form-inline button {
		top: -1px;
		right: 8px;
	}
	.section-search i {
		left: 25px;
		top: 20px;
	}
	.section-plan .step{
		margin-top: 140px;
	}
	.section-plan .ellips{
		left: 110px;
	}
	.section-advantages .item{
		margin-top: 40px;
		border-left: none;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 495px) {
	.section-packages .cloud p{
		font-size: 30px;
		bottom: -4px;
		left: 37px;
	}
	.section-packages .cloud i{
		font-size: 80px;
	}
	.section-packages li{
		font-size: 13px;
	}
	.section-search .form-control {
		padding-right: 38%; 
	}
}
@media only screen and (max-width: 461px) {
	.section-packages .carousel-indicators{
		right: 35%;
		bottom: -20%;
	}
	.section-packages .btn{
		font-size: 12px;
		height: 35px;
		width: 130px;
	}
	.section-packages h2{
		font-size: 20px;
	}
	.section-search i {
		left: 15px;
		top: 10px;
	}
	.section-search .form-control {
		height: 36px;
		padding: 8px 105px 8px 45px;
		font-size: 14px;
	}
	.section-search .form-inline button {
		font-size: 12px;
		top: -3px;
		right: 5px;
		height: 26px;
		width: 100px;
	}
}

@media only screen and (max-width: 442px) {
}

@media only screen and (max-width: 428px) {
}

@media only screen and (max-width: 380px) {
	.section-packages .carousel-indicators{
		right: 25%;
		bottom: -15%;
	}
}

@media only screen and (max-width: 337px) {
	
}